{% extends "base.html" %}
{% block content %}
<h2>About</h2>
<section class="card">
  <p><strong>Christmas App</strong> Create your Christmas list, form groups with friends and family, and coordinate presents without spoilers!</p>
  <ul>
    <li><strong>My Lists</strong>: Create and edit your own Christmas lists.</li>
    <li><strong>My Groups</strong>: Create or join groups, and browse the lists of group members.</li>
    <li><strong>My Account</strong>: See your lists, group, and account info.</li>
  </ul>
</section>

<section class="card">
  <strong>Frequently Asked Questions</strong>
  <ul>
    <li><strong>Why can't I join a group?</strong>: To join a group, you must first create a list. Don't worry! The list doesn't have to be ready when you join a group, you can add items to your list later and everyone in your group will see the additions.</li>
    <li><strong>Can I add the same list to two different groups?</strong>: Yes! You can add the same list to as many groups as you want. All you edits to your list will be updated to each group!</li>
    <li><strong>Can I update my list?</strong>: Yes! You can remove or add items to your list and it will be updated in your group.</li>
    <li><strong>Can I add an item to someone else's list?</strong>: Yes! The item you add will NOT be seen by the recipient, but it will be seen by everyone else in the group. </li>
    <li><strong>If someone is in my group and another group, will the other group see my addition?</strong>: No! Additions to list remain within the group.</li>
    <li><strong>What does the reindeer icon (🦌) mean?</strong>: The reindeer icon indicates a present that someone is planning on giving that is not on the recipients original list. </li>
    <li><strong>What does the present icon (🎁) mean?</strong>: The reindeer icon indicates a present that someone is planning on giving that is not on the recipients original list. </li>
    <li><strong>Can I ungift a present from someone's list?</strong>: Yes! When you uncheck the box next to the gift, it is now free for anyone else in thr group to claim. You cannot uncheck a gift that someone else has claimed.</li>
  </ul>
</section>
{% endblock %}
